/* font-family: 'Poly', serif; */

body{
    background-color: #2C2C2C;
    color:#F6F5FA;
}
.header{
    width: 100%;
    position: fixed;
    margin-bottom: 10%;
    z-index: 9999;
    background-color: #2C2C2C;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
/* burger */
.burger{
    
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 40px;
}
.burger .divider{
cursor: pointer;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #F2E209;
  border-radius: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: transform .3s linear;
}
.burger .divider:nth-child(1){
    position: absolute;
    top: 30%;
    transition: width .3s;

}
.divider:nth-child(2){
    position: absolute;
    top: 50%;
    transition: width .3s;

}
.divider:nth-child(3){
    position: absolute;
    top: 70%;
    transition: width .3s;

}
/* burger-active */
.burger.active .divider:nth-child(1) {
    width: 10px;
    left: 70%;
    transition: width .3s;

}
  
  .burger.active .divider:nth-child(2) {
    width: 20px;
    left: 60%;
    transition: width .3s;
 }
  

  
/* header */
.logo-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}
.logo img{
    margin-top: 7px;
}
/* navigation */
.navigation{
  position: fixed;
  padding-top: 50px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2C2C2C;
  height: 100%;
  top: 1%;
  right: -100%;
  transition: right .3s linear;
  margin-top: 12%;
  z-index: 100;

}
.navigation.active{
    right: 0;

}

.nav-wrapper ul {
   text-align: center;
}
.nav-wrapper ul li a{
    line-height: 5;
    font-size: 18px;
    font-family: 'Poly', serif;
    letter-spacing: 1px;
}
a:hover{
    color:  #f2e209de;
}
a:focus{
    color: #f2e209de;
}
/* icons */
.soc-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70%;
    padding:0 1%;
}
.soc-icons li:last-child{
    padding-top: 2px;
}
.soc-icons  li a:hover{
    opacity: 0.5;
}

/* slider */
.slider img{
    width: 100%;
}

/* parallax */
body, html{
    height: 100%;
}
   


/* about */
.about-section{
    width: 100%;
}
.about-img img{
    position: relative;
    width: 100%;
    filter: brightness(100%);
}
.about-text{
    position: absolute;
    left: 10%;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    color: #f6f5fac4;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 1px;
    background-color:rgba(240, 240, 240, 0.05);
    padding: 20px;
   
}
.about-text h1{
   line-height: 4;
    color: #f2e209de;
    letter-spacing: 4px;
    font-size: 22px;
}

/* gallery */
.gallery{
    width: 100%;
    padding: 20px;
}
.gallery .image-wrapper{
    
    display: flex;
    flex-direction: column;
}
.gallery .image-wrapper a img{
    width: 100%;
    margin-top: 20px;
    
}
/* .nav-wrapper ul{
    padding-top: 2%;
} */



/* ************* */

/* ************* */
.gallery{
    width: 100%;
}
































@media (min-width:768px){
    .burger{
        display: none;
    }
    .logo img{
        width: 250px;
    }
    .soc-icons{
        display: none;
    }
    .soc-icons li {
        display: none;
    }
    .navigation{
        position: static;
        width: 100%;
        background-color: #2C2C2C;
        height: 0;
        margin-top: 0;
        padding:0 5%;
      }
      .nav-wrapper ul{
          display: flex;
          justify-content: space-between;
          flex-direction: row;
      }

}

@media (min-width:1024px){
    body, html{
        height: 100%;
    }
    /* body{
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    } */
    /* ********************  */
    .logo-wrapper{
        padding: 2% 6%;

    }
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navigation{
        position: static;
        padding-top: 2%;
        margin-right: 200px;
    }
    .nav-wrapper ul{
        padding-top: 5%;
        width: 90%;
    }
    .nav-wrapper ul li a{
        padding:0 50px;
        line-height: unset;
       
    }
 

  /* ********************************** */

    /* about */
    .about-section{
        padding-top: 10%;
        position: unset;
    }
    .about-img img{
        display: none;
    }
    
    .about-parallax{
        background-image: url(../img/aboutpage.jpg);
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
   
    .about-image img{
        color-interpolation-filters: initial;
    }
    .about-text{
        position: unset;
        padding: 2%;
        padding-bottom: 5%;
        font-size: 22px;
    }
    .about-text{
        letter-spacing: 1px;
    }
    .about-text h1{
        font-size: 26px;
    }



}
